
.container {
  max-width: 25em;
  margin: 20vh auto 0 auto;
}

#display {
  margin-left: .3em;
  height: 1em;
  text-align: right;  
  font-size: 2.5em;
  background-color: beige;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.boton {
  line-height: 2em;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

#equal {
  background-color: #065;
  color: white;
}

.boton:hover {
  background-color: #aaa;
  color: white;
  transition: 0.2s ease-in-out;
}